@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background-image: url('../images/nuevo fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
}

.dashboard-title {
    font-size: 3rem; /* Ajusta el tamaño según lo que necesites */
}

.dashboard-btn {
    font-size: 1.3rem; /* Ajusta el tamaño según lo que necesites */
}